In [2]:
import pandas as pd
import numpy as np
import re
from tqdm import tqdm

In [4]:
dfa = pd.read_csv('지식인3_라벨링_코더A.csv')
dfb = pd.read_csv('지식인3_라벨링_코더B.csv')
dfc = pd.read_csv('지식인3_라벨링_코더C.csv')

In [5]:
df = pd.concat([dfa, dfb, dfc], axis=1)
print(df.shape)
df.head()

(3419, 15)

,Unnamed: 0,코더A,코더B,코더C,review,Unnamed: 0,코더A,코더B,코더C,review,Unnamed: 0,코더A,코더B,코더C,review
0,247704,1.0,NaN,NaN,버팀목 중기청 전세대출 문의 전세대출 소득인정 되려면 대보험 필수가입이라고 해서 바...,247704,NaN,0.0,NaN,버팀목 중기청 전세대출 문의 전세대출 소득인정 되려면 대보험 필수가입이라고 해서 바...,247704,NaN,NaN,0,버팀목 중기청 전세대출 문의 전세대출 소득인정 되려면 대보험 필수가입이라고 해서 바...
1,246130,1.0,NaN,NaN,lh 차량가액 관련 질문드립니다 전세임대지원으로 이미 살고 있는데 그때 계약은 만인...,246130,NaN,0.0,NaN,lh 차량가액 관련 질문드립니다 전세임대지원으로 이미 살고 있는데 그때 계약은 만인...,246130,NaN,NaN,0,lh 차량가액 관련 질문드립니다 전세임대지원으로 이미 살고 있는데 그때 계약은 만인...
2,81806,0.0,NaN,NaN,귀뚜라미 보일러 심한 소음 가동하면 드륵드륵드륵 소리가 심하네요 어디가 문제일까요,81806,NaN,0.0,NaN,귀뚜라미 보일러 심한 소음 가동하면 드륵드륵드륵 소리가 심하네요 어디가 문제일까요,81806,NaN,NaN,0,귀뚜라미 보일러 심한 소음 가동하면 드륵드륵드륵 소리가 심하네요 어디가 문제일까요
3,231074,0.0,NaN,NaN,CJ대한통운 월요일 저녁쯤 택배를 시켰는데 오늘중으로 올까요 어제는 왔어야 하는데 ...,231074,NaN,0.0,NaN,CJ대한통운 월요일 저녁쯤 택배를 시켰는데 오늘중으로 올까요 어제는 왔어야 하는데 ...,231074,NaN,NaN,0,CJ대한통운 월요일 저녁쯤 택배를 시켰는데 오늘중으로 올까요 어제는 왔어야 하는데 ...
4,276164,1.0,NaN,NaN,스마트스토어운영대행업체 괜찮은스마트스토어운영대행업체를찾고있습니다 추천좀해주세요,276164,NaN,1.0,NaN,스마트스토어운영대행업체 괜찮은스마트스토어운영대행업체를찾고있습니다 추천좀해주세요,276164,NaN,NaN,1,스마트스토어운영대행업체 괜찮은스마트스토어운영대행업체를찾고있습니다 추천좀해주세요

In [6]:
df.columns

Index(['Unnamed: 0', '코더A', '코더B', '코더C', 'review', 'Unnamed: 0', '코더A', '코더B',
       '코더C', 'review', 'Unnamed: 0', '코더A', '코더B', '코더C', 'review'],
      dtype='object')

In [7]:
df = df.iloc[:,[0,1,7,13,14]]
print(df.shape)
df.head()

(3419, 5)

,Unnamed: 0,코더A,코더B,코더C,review
0,247704,1.0,0.0,0,버팀목 중기청 전세대출 문의 전세대출 소득인정 되려면 대보험 필수가입이라고 해서 바...
1,246130,1.0,0.0,0,lh 차량가액 관련 질문드립니다 전세임대지원으로 이미 살고 있는데 그때 계약은 만인...
2,81806,0.0,0.0,0,귀뚜라미 보일러 심한 소음 가동하면 드륵드륵드륵 소리가 심하네요 어디가 문제일까요
3,231074,0.0,0.0,0,CJ대한통운 월요일 저녁쯤 택배를 시켰는데 오늘중으로 올까요 어제는 왔어야 하는데 ...
4,276164,1.0,1.0,1,스마트스토어운영대행업체 괜찮은스마트스토어운영대행업체를찾고있습니다 추천좀해주세요

In [8]:
df.isnull().sum()

Unnamed: 0    0
코더A           3
코더B           2
코더C           0
review        2
dtype: int64

In [9]:
df.dropna(subset='review', inplace=True)

In [11]:
df[df.코더A.isnull()]

      Unnamed: 0  코더A  코더B  코더C                                 review
3382        8858  NaN  0.0    0  전체적손금봐주세욤 가족관계 재물운 건강운 애정운 전체적으로 봐주셔요

In [12]:
df['코더A'] = df.코더A.fillna(0)

In [13]:
df.isnull().sum()

Unnamed: 0    0
코더A           0
코더B           0
코더C           0
review        0
dtype: int64

In [14]:
# mode 함수를 사용하여 다수결로 target 컬럼 생성
df['target'] = df[['코더A', '코더B', '코더C']].mode(axis=1)[0].astype(int)

df.head()

,Unnamed: 0,코더A,코더B,코더C,review,target
0,247704,1.0,0.0,0,버팀목 중기청 전세대출 문의 전세대출 소득인정 되려면 대보험 필수가입이라고 해서 바...,0
1,246130,1.0,0.0,0,lh 차량가액 관련 질문드립니다 전세임대지원으로 이미 살고 있는데 그때 계약은 만인...,0
2,81806,0.0,0.0,0,귀뚜라미 보일러 심한 소음 가동하면 드륵드륵드륵 소리가 심하네요 어디가 문제일까요,0
3,231074,0.0,0.0,0,CJ대한통운 월요일 저녁쯤 택배를 시켰는데 오늘중으로 올까요 어제는 왔어야 하는데 ...,0
4,276164,1.0,1.0,1,스마트스토어운영대행업체 괜찮은스마트스토어운영대행업체를찾고있습니다 추천좀해주세요,1

In [15]:
df

,Unnamed: 0,코더A,코더B,코더C,review,target
0,247704,1.0,0.0,0,버팀목 중기청 전세대출 문의 전세대출 소득인정 되려면 대보험 필수가입이라고 해서 바...,0
1,246130,1.0,0.0,0,lh 차량가액 관련 질문드립니다 전세임대지원으로 이미 살고 있는데 그때 계약은 만인...,0
2,81806,0.0,0.0,0,귀뚜라미 보일러 심한 소음 가동하면 드륵드륵드륵 소리가 심하네요 어디가 문제일까요,0
3,231074,0.0,0.0,0,CJ대한통운 월요일 저녁쯤 택배를 시켰는데 오늘중으로 올까요 어제는 왔어야 하는데 ...,0
4,276164,1.0,1.0,1,스마트스토어운영대행업체 괜찮은스마트스토어운영대행업체를찾고있습니다 추천좀해주세요,1
...,...,...,...,...,...,...
3414,60063,1.0,0.0,0,개인사업자 자영업자 중소기업청년전세자금대출 가능할까요 음식업 개인사업자이고 년생입니...,0
3415,43359,0.0,0.0,0,사람들은 어떤 마인드로 버티면서 일을 하나요 안녕하세요 살입니다 일을 하면서 부끄러...,0
3416,140302,1.0,1.0,1,스마트스토어 폐업 제가 월달에 사업자등록을 하고 오늘 간이과세자 폐업신고를했는데 스...,1
3417,216860,0.0,0.0,0,가족회사에서 근무하게 될 시 주의사항이 있을까요 직계 가족이 작은 회사를 운영하려 ...,0
3418,96810,1.0,0.0,1,내공 쇼핑몰 광고대행 광고대행이 자세히 어떻게 하는 것인가요 광고를 대신 만드는 건...,1

In [16]:
df_doc = df.review

In [17]:
def preprocess_text(text):
    if isinstance(text, str):
        text = re.sub(r'\n', ' ', text) # 줄넘김 없앰
        text = re.sub(r'\s+', ' ', text) # 공백 두 개 이상은 공백 하나로
        text = re.sub(r'[^\w\s]', ' ', text) # 특수문자 제거
        text = re.sub(r'http[s]?://\S+', ' ', text) #re.sub(r'https?://\S+', '', text) url 제거
        text = re.sub(r'\d', ' ', text) # 숫자 제거

    return text

In [18]:
df_doc = df_doc.apply(preprocess_text)
df_doc

0       버팀목 중기청 전세대출 문의 전세대출 소득인정 되려면 대보험 필수가입이라고 해서 바...
1       lh 차량가액 관련 질문드립니다 전세임대지원으로 이미 살고 있는데 그때 계약은 만인...
2          귀뚜라미 보일러 심한 소음 가동하면 드륵드륵드륵 소리가 심하네요 어디가 문제일까요
3       CJ대한통운 월요일 저녁쯤 택배를 시켰는데 오늘중으로 올까요 어제는 왔어야 하는데 ...
4            스마트스토어운영대행업체 괜찮은스마트스토어운영대행업체를찾고있습니다 추천좀해주세요
                              ...
3414    개인사업자 자영업자 중소기업청년전세자금대출 가능할까요 음식업 개인사업자이고 년생입니...
3415    사람들은 어떤 마인드로 버티면서 일을 하나요 안녕하세요 살입니다 일을 하면서 부끄러...
3416    스마트스토어 폐업 제가 월달에 사업자등록을 하고 오늘 간이과세자 폐업신고를했는데 스...
3417    가족회사에서 근무하게 될 시 주의사항이 있을까요 직계 가족이 작은 회사를 운영하려 ...
3418    내공 쇼핑몰 광고대행 광고대행이 자세히 어떻게 하는 것인가요 광고를 대신 만드는 건...
Name: review, Length: 3417, dtype: object

In [19]:
df.review = df_doc

In [20]:
df.to_csv('지식인3_코더통합.csv', encoding='utf-8-sig')